@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}

.resultado1{
  margin-right: 100px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
.resultado{
  width: 100%;
}
.green{
  width: 100%;
  background-color: rgb(96, 202, 96);
  border-radius: 5px;
  color: #ececec;
  padding: 10px;
}
.red{
  width: 100%;
  background-color: rgb(233, 74, 74);
  border-radius: 5px;
  color: #ececec;
  padding: 10px;
}
.yellow{
  width: 100%;
  background-color: rgb(233, 222, 74);
  border-radius: 5px;
  color: #ececec;
  padding: 10px;
}